<div class="header">
  <p class="header__logo">
    <img src="assets/images/logo.png" alt="" />
  </p>

  <span class="spacer"></span>

  <ng-container *ngIf="user$ | async as user">
    <button
      class="header__avatar"
      mat-icon-button
      [matMenuTriggerFor]="menu"
      [style.background-image]="'url(' + user.avatarURL + ')'"
    ></button>

    <mat-menu #menu="matMenu">
      <a mat-menu-item routerLink="/user/{{ user.uid }}/setting">
        <mat-icon>settings</mat-icon>
        <span>設定</span>
      </a>
      <button mat-menu-item (click)="authService.logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>ログアウト</span>
      </button>
      <mat-divider class="divider"></mat-divider>
    </mat-menu>
  </ng-container>
</div>
