<div class="header">
  <a class="header__logo" routerLink="/welcome">
    <img src="assets/images/logo.png" alt="" />
  </a>

  <span class="spacer"></span>

  <ng-container *ngIf="room$ | async as room; else home">
    <div class="header__room-name">
      <p>{{ room?.name }}</p>
    </div>
  </ng-container>
  <ng-template #home>
    <div class="header__room-name">
      <p>ホーム</p>
    </div>
  </ng-template>

  <ng-container *ngIf="user$ | async as user">
    <button
      class="header__avatar"
      mat-icon-button
      [matMenuTriggerFor]="menu"
      [style.background-image]="'url(' + user.avatarURL + ')'"
    ></button>

    <mat-menu #menu="matMenu">
      <a mat-menu-item routerLink="/user/{{ user.uid }}/setting">
        <mat-icon>settings</mat-icon>
        <span>設定</span>
      </a>
      <button mat-menu-item (click)="authService.logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>ログアウト</span>
      </button>
    </mat-menu>
  </ng-container>
</div>
