.footer {
  background: url(/assets/images/texture-black.jpg) center/cover;
  width: 100%;
  padding: 8px;
}

.actions {
  display: flex;
  align-items: center;
  &__back-btn {
    padding: 4px 8px;
    border-radius: 4px;
    background: rgba(#fff, 0.16);
    border: 2px solid #212121;
    color: #1865a3;
    font-size: 18px;
  }
}

.spacer {
  flex: 1;
}
