p {
  font-style: 12px;
  text-align: center;
  color: rgba(black, 0.6);
}

footer {
  background: url(/assets/images/head-background.jpg) center / cover;
  width: 100%;
  height: 48px;
  position: fixed;
  display: flex;
  padding: 0px;
  z-index: 1;
}
