<div class="pc-container">
  <ng-container *ngIf="room$ | async as room">
    <div
      class="room"
      [style.background-image]="
        'url(assets/images/room-' + room.imageId + '.png)'
      "
    >
      <div class="room__main">
        <div
          *ngFor="let poo of pooLength; index as i"
          class="room__poo"
          [style]="'top:' + top[i] + 'px; left:' + left[i] + 'px'"
        >
          <img @bounce src="assets/images/poo.png" alt="" />
        </div>
      </div>

      <div class="room__limit-wrap">
        <p class="room__limit-text">
          {{
            limitDate <= 0
              ? '掃除をしましょう！'
              : '掃除まであと' + limitDate + '日'
          }}
        </p>

        <div class="room__limit-bar-wrap">
          <div
            class="room__limit-bar"
            [style]="'width:' + progressNum + 'px'"
            [class.warn]="progressNum >= 100 && progressNum < 200"
            [class.danger]="progressNum >= 200"
          ></div>
          <img src="assets/images/poo.png" alt="" />
        </div>
      </div>

      <div class="room__btn-wrap">
        <span
          class="room__btn-ring"
          [class.warn]="progressNum >= 100 && progressNum < 200"
          [class.danger]="progressNum >= 200"
        ></span>
        <button (click)="finishedTask()" class="room__btn">
          <mat-icon>done_outline</mat-icon>Finish!
        </button>
      </div>
    </div>
  </ng-container>
</div>
