@import '~@angular/material/theming';
@import 'mixins';

@include mat-core();

$team-gunji-primary: mat-palette($mat-indigo);
$team-gunji-accent: mat-palette($mat-pink, A200, A100, A400);

$team-gunji-warn: mat-palette($mat-red);

$team-gunji-theme: mat-light-theme(
  (
    color: (
      primary: $team-gunji-primary,
      accent: $team-gunji-accent,
      warn: $team-gunji-warn,
    ),
  )
);

@include angular-material-theme($team-gunji-theme);

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  font-family: 'Barlow Condensed', sans-serif;
}

html,
body,
h1,
h2,
h3,
h4,
a,
p,
ul,
li,
figure {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

button {
  outline: none;
  border: none;
  appearance: none;
}

.pager {
  text-align: center;
  span {
    margin: 0 2px;
  }
}

.pc-container {
  @include pc {
    width: 1200px;
    padding: 24px;
    margin: 0 auto;
  }
}
